.row
  .span12
    %h1 Project List
    = link_to("Submit a project", available_projects_path)
    - if @projects.empty?
      %p No projects have been submitted this week.
    - else
      %ul.project-list
        - @projects.each do |project|
          %li
            .project-row
              .vote-count= project.votes
              = link_to "Vote", "/projects/#{project.id}/vote", class: "btn btn-primary btn-small"
              .project-title= project.title
            %p= project.short_description
